.horizontal-items {
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  .item {
    height: 300px;
    width: 300px;
    box-shadow: rgba(185, 61, 41, 0.1) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
    .title {
      margin-top: 5px;
      color: #ef4834;
      font-weight: bold;
      font-size: 18px;
    }
    .author, .date {
      font-weight: bold;
    }
  }
}